---
import type { ClientMarkdownFrontMatter } from "@tsTypes/index";
import { Container, Text } from "@components/shared";
import { ElectricLine } from "@components/svgs";
interface Props {
  clientDetails: ClientMarkdownFrontMatter;
  slug: string;
}

const { clientDetails, slug } = Astro.props;
---

<div class="card card_layout">
  <div class="title_container">
    <Text tag="h3" class="custom_title">{clientDetails.title}</Text>
    <!-- <ElectricLine w="250px" h="50px" /> -->
  </div>

  <div class="profileImage">
    {
      clientDetails.secondary_image ? (
        <img
          class="scondary_img"
          src={clientDetails.secondary_image.source}
          alt={clientDetails.secondary_image.alt}
          height="150px"
          width="250"
        />
      ) : null
    }
    <img
      class="main_img"
      src={clientDetails.profile_image.source}
      alt={clientDetails.profile_image.alt}
      height="900px"
      width="300px"
    />
  </div>

  <div class="client_rundown flex flex-col gap-2 mx-8">
    <Text>{clientDetails.client}</Text>

    <Text>
      <a href={clientDetails.client_url}>{clientDetails.client_url}</a>
    </Text>
    <Text>{clientDetails.location}</Text>
    <Text tag="p">{clientDetails.date}</Text>
  </div>

  <Text tag="p" class="description">{clientDetails.description}</Text>
  <div class="el_stuff flex justify-between mx-12">
    <Text tag="p">
      <a href={`./our-work/${slug}`}> Full Details -></a>
    </Text>
  </div>

  <style>
    .card_layout {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
        "title title title"
        "description img1 client_rundown "
        "description img1  el_stuff";
    }
    .title_container {
      grid-area: title;
    }
    .custom_title {
      font-size: 2em;
      border-bottom: 2px solid var(--elynx-orange);
    }
    .profileImage {
      grid-area: img1;
      position: relative;
      img {
        position: absolute;
        transform: skew(2deg, 5deg);
      }
      .scondary_img {
        z-index: 0;
        top: 70px;
        left: 70px;
      }
      .main_img {
        z-index: 10;
        top: 100px;
      }
    }
    .secondaryImage {
      grid-area: img2;
    }
    .description {
      grid-area: description;
    }
    .client_rundown {
      grid-area: client_rundown;
    }
    .el_stuff {
      grid-area: el_stuff;
      align-self: end;
    }

    .card {
      /* background-color: rgba(240, 248, 255, 0.267); */
      padding: 10px;
      margin: 20px;
      margin-bottom: 120px;
    }
  </style>
</div>
