---
import type { ClientMarkdownFrontMatter } from "@tsTypes/index";
import { Container, Text } from "@components/shared";
import { ElectricLine } from "@components/svgs";

import { ImagesContainer } from "./component";

interface Props {
  clientDetails: ClientMarkdownFrontMatter;
  slug: string;
}

const { clientDetails, slug } = Astro.props;
---

<div class="card card_layout">
  <div class="title_container">
    <Text tag="h3" class="custom_title">{clientDetails.title}</Text>
  </div>

  <div class="profileImage">
    <ImagesContainer
      profile_image={clientDetails.profile_image}
      secondary_image={clientDetails.secondary_image}
    />
  </div>

  <div class="client_rundown flex flex-col justify-between gap-2 mx-8">
    <Text>{clientDetails.client}</Text>

    <Text>
      <a href={clientDetails.client_url}>{clientDetails.client_url}</a>
    </Text>
    <Text>{clientDetails.location}</Text>
    <Text tag="p">{clientDetails.date}</Text>
    <Text tag="p">
      <a href={`./our-work/${slug}`}> Full Details -></a>
    </Text>
  </div>

  <Text tag="p" class="description">{clientDetails.description}</Text>

  <style>
    .card_layout {
      display: grid;
      grid-template-columns: 1fr 550px 175px;
      grid-template-rows: 50px 1fr;
      grid-template-areas:
        "title title title"
        "img1 description  client_rundown ";
    }
    .title_container {
      grid-area: title;
    }
    .custom_title {
      font-size: 2em;
      border-bottom: 2px solid var(--elynx-orange);
    }
    .profileImage {
      grid-area: img1;
      position: relative;
      top: 25%;
      left: 15%;
    }

    .description {
      grid-area: description;
      place-self: center;
      padding: 10% 15%;
    }
    .client_rundown {
      grid-area: client_rundown;
    }
    .el_stuff {
      grid-area: el_stuff;
      align-self: end;
    }

    .card {
      /* background-color: rgba(240, 248, 255, 0.267); */
      padding: 10px;
      margin: 20px;
      margin-bottom: 120px;
    }
  </style>
</div>
