---
import type { ClientMarkdownFrontMatter } from "@tsTypes/index";
import { Container, Text } from "@components/shared";
import { ElectricLine } from "@components/svgs";
interface Props {
  clientDetails: ClientMarkdownFrontMatter;
  slug: string;
}

const { clientDetails, slug } = Astro.props;
---

<div class="card card_layout">
  <div class="title_container">
    <Text tag="h3" class="custom_title">{clientDetails.title}</Text>
    <!-- <ElectricLine w="250px" h="50px" /> -->
  </div>

  <div class="profileImage">
    <img
      src={clientDetails.profile_image.source}
      alt={clientDetails.profile_image.alt}
      height="900px"
      width="300px"
    />
  </div>
  {
    clientDetails.secondary_image ? (
      <div class="secondaryImage">
        <img
          style="background:blue"
          src={clientDetails.secondary_image.source}
          alt={clientDetails.secondary_image.alt}
          height="150px"
          width="250"
        />
      </div>
    ) : null
  }

  <div class="client_rundown flex flex-col gap-2 mx-8">
    <div class="flex justify-between">
      <Text>{clientDetails.client}</Text>
      <Text tag="p">{clientDetails.date}</Text>
    </div>

    <Text>
      <a href={clientDetails.client_url}>{clientDetails.client_url}</a>
    </Text>
    <Text>{clientDetails.location}</Text>
  </div>

  <Text tag="p" class="description">{clientDetails.description}</Text>
  <div class="el_stuff flex justify-between mx-12">
    <Text tag="p">
      <a href={`./our-work/${slug}`}> Full Details -></a>
    </Text>
    <div class="flex gap-4 items-center">
      <Text tag="h3">TAGS:</Text>
      {
        clientDetails.tags.map((x: string) => (
          <Text class="border p-2 rounded">{x}</Text>
        ))
      }
    </div>
  </div>

  <style>
    .card_layout {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas:
        "title title client_rundown"
        "description description img1"
        "el_stuff el_stuff  img2";
    }
    .title_container {
      grid-area: title;
    }
    .custom_title {
      font-size: 2em;
      border-bottom: 2px solid var(--elynx-orange);
    }
    .profileImage {
      grid-area: img1;
    }
    .secondaryImage {
      grid-area: img2;
    }
    .description {
      grid-area: description;
    }
    .client_rundown {
      grid-area: client_rundown;
    }
    .el_stuff {
      grid-area: el_stuff;
      align-self: end;
    }

    .card {
      /* background-color: rgba(240, 248, 255, 0.267); */
      padding: 10px;
      margin: 20px;
      margin-bottom: 120px;
    }
  </style>
</div>
