---
import PackageCard from "@components/blocks/cards/PackageCard.astro";
import Container from "@components/shared/Container.astro";
import Title from "@components/shared/Title.astro";
import { Text } from "@components/shared";

import { packages } from "../../utils/packagedata.ts";
---

<section id="pricing">
  <Container className="flex flex-col midmd:flex-row gap-10 lg:gap-12">
    <div class="flex-1 flex midmd:w-7/12 lg:w-1/2 flex-col">
      <div class="text-center max-w-3xl mx-auto space-y-4">
        <Title>Pricing</Title>
        <Text tag="p" className="mt-8">
          Standard packages to upgrade your business; custom solutions for
          complex problems.
        </Text>
      </div>
      <div
        class="pt-8 grid md:grid-cols-2 lg:grid-cols-4 items-center gap-4 max-w-3xl md:max-w-[none]"
      >
        {
          packages.map((lynxpackage) => {
            return (
              <PackageCard
                icon={lynxpackage.icon}
                title={lynxpackage.title}
                description={lynxpackage.description}
                included={lynxpackage.included}
                price={lynxpackage.price}
              />
            );
          })
        }
      </div>
    </div>
  </Container>
</section>
