---
import { Text } from "@components/shared";
import { TeamCard } from "@components/blocks";
import { getCollection, getEntry } from "astro:content";

const ourPublishedWork = await getCollection("team_profile");
---

<div class="flex flex-col justify-evenly sm:flex-row gap-4r">
  {
    ourPublishedWork.map(({ data, body }) => (
      <TeamCard
        teamName={data.teamName}
        description={body}
        primaryPicture={data.primaryPicture}
        secondaryPicture={data.secondaryPicture}
        portfolioLink={data.portfolioLink}
      />
    ))
  }
</div>
