---
import { TeamCard } from "@components/blocks";
import { getCollection } from "astro:content";
interface Props {
  varient?: string;
}

const { varient } = Astro.props;

// has slug, make a personal page within EL
const ourEstablishedTeam = await getCollection("team_profile");
---

<div class="flex flex-col justify-evenly sm:flex-row gap-4r">
  {
    ourEstablishedTeam.map(({ data, body }) => (
      <TeamCard
        {varient}
        teamName={data.teamName}
        description={body}
        contact={data.contact}
        primaryPicture={data.primaryPicture}
        secondaryPicture={data.secondaryPicture}
        portfolioLink={data.portfolioLink}
      />
    ))
  }
</div>
