---
import { TeamCard } from "@components/blocks";
import { getCollection } from "astro:content";
interface Props {
  varient?: string;
}

const { varient } = Astro.props;

// has slug, make a personal page within EL
const ourEstablishedTeam = await getCollection("team_profile");

const gridLayout =
  varient !== "full" ? " grid-rows-1 grid-cols-2" : "grid-cols-1 grid-rows-2";
---

<div class:list={["bioLayout justify-evenly grid", gridLayout]}>
  {
    ourEstablishedTeam.map(({ data, body }) => (
      <TeamCard
        {varient}
        teamName={data.teamName}
        description={body}
        contact={data.contact}
        primaryPicture={data.primaryPicture}
        secondaryPicture={data.secondaryPicture}
        portfolioLink={data.portfolioLink}
      />
    ))
  }
</div>
